/*style of the container which contain the form*/
section {
  width: 90%;
  max-width: 420px;
  padding: 20px;
  margin: 0 auto;
}

/*start style of the div which contains two icons*/

.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-end: -20px;
  padding-block-start: 10px;
}
.icons div {
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: center;
}

.icons .right span {
  background-color: #d4af37;
}

.icons .left span {
  background: linear-gradient(#0a1f44, #1e3a8a);
}

.icons span {
  display: block;
  width: 60px;
  height: 50px;
  margin-inline-start: 20px;
  border-radius: 8px;
}

.icons div i {
  color: white;
  font-size: 26px;
  padding-block-start: 12px;
}

.icons div p {
  padding-block-start: 5px;
  font-size: 12px;
  color: #4a5565;
}



/* style of div which contains the Login to manaraa  */
.content {
  margin-bottom: 20px;
}
.content h6 {
  color: #0a1f44;
  font-size: 16px;
  line-height: 16px;
  padding-top: 5px;
}

.content p {
  font-size: 16px;
  line-height: 24px;
  color: #717182;
}

@media (max-width: 600px) {
  .content h6 {
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
  }
}

/*submit button style */
.login-submit {
  background-color: #0a1f44;
  color: white;
}

@media (max-width: 600px) {
  .login-submit {
    font-size: 14px;
  }
}

.env-msg {
  font-size: 12px;
}

/*return button style */
.back {
  display: flex;
  justify-content: center;
  margin-left: -18px;
}
.back a {
  font-size: 14px;
}

@media (max-width: 600px) {
  .back a {
    font-size: 12px;
  }
}

.valid-msg span {
  font-size: 50px;
  color: rgba(0, 166, 62, 1);
}
.valid-msg h5 {
  color: rgba(0, 166, 62, 1);
}
.valid-msg p {
  font-size: 14px;
  color: rgba(0, 166, 62, 1);
}
.msg {
  font-size: 12px;
}
