<!-- <div class="role-card placeholder-glow" aria-hidden="true">
  <div class="role-card-top">
    <div class="role-card-icon">
      <span class="placeholder rounded d-block w-100 h-100"></span>
    </div>

    <div class="role-card-actions">
      <span
        style="width: 2rem; height: 2rem"
        class="placeholder rounded d-inline-block"
      ></span>
      <span
        class="placeholder rounded d-inline-block"
        style="width: 2rem; height: 2rem"
      ></span>
    </div>
  </div>

  <div class="mt-3">
    <h5 class="role-card-name">
      <span class="placeholder col-6"></span>
    </h5>

    <p class="role-card-desc">
      <span class="placeholder col-10"></span>
    </p>
  </div>

  <div class="role-card-meta">
    <div class="role-meta-row">
      <span class="placeholder col-3"></span>
      <span class="placeholder col-4"></span>
    </div>

    <div class="role-meta-row">
      <span class="placeholder col-3"></span>
      <span class="placeholder col-2"></span>
    </div>

    <div class="role-meta-row">
      <span class="placeholder col-3"></span>
      <span class="placeholder col-2"></span>
    </div>

    <div class="role-meta-row">
      <span class="placeholder col-4"></span>
      <span class="placeholder col-2"></span>
    </div>
  </div>
</div> -->

<div class="role-skeleton-card placeholder-glow" aria-hidden="true">
  <div class="skeleton-top">
    <div class="skeleton-icon"></div>

    <div class="skeleton-actions">
      <div class="skeleton-btn"></div>
      <div class="skeleton-btn"></div>
    </div>
  </div>

  <div class="skeleton-body">
    <div class="skeleton-title"></div>

    <div class="skeleton-desc line-lg"></div>
  </div>

  <div class="skeleton-meta">
    <div class="skeleton-row">
      <div class="skeleton-label"></div>
      <div class="skeleton-value"></div>
    </div>

    <div class="skeleton-row">
      <div class="skeleton-label"></div>
      <div class="skeleton-value small"></div>
    </div>

    <div class="skeleton-row">
      <div class="skeleton-label"></div>
      <div class="skeleton-value small"></div>
    </div>

    <div class="skeleton-row">
      <div class="skeleton-label"></div>
      <div class="skeleton-value small"></div>
    </div>
  </div>
</div>
