<div>
  <h2>Program Section Schedule Form Dialog</h2>

  <hr />

  <p><strong>Subject:</strong> {{ data.subject.name }}</p>
  <p><strong>Day:</strong> {{ data.day.value }}</p>
  <p>
    <strong>Period:</strong>
    {{ data.period.startTime }} - {{ data.period.endTime }}
  </p>

  <hr />

  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Instructor -->
    <div class="form-group">
      <label>Instructor</label>

      <ng-select
        formControlName="instructorId"
        [items]="instructors"
        bindLabel="name"
        bindValue="id"
        [loading]="loading"
        [virtualScroll]="true"
        [typeahead]="typeahead$"
        (scrollToEnd)="loadMore()"
        [clearSearchOnAdd]="true"
        placeholder="Select Instructor"
      >
      </ng-select>
    </div>

    <!-- Max Slots -->
    <div class="form-group">
      <label>Max Slots</label>

      <input type="number" class="form-control" formControlName="maxSlots" />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Save
    </button>
  </form>
</div>
