/* section 2 */
.sec-2 h3 {
  color: #0a0a0a;
  font-size: var(--fs-md);
}
.sec-2 p {
  color: var(--main-color);
  font-size: var(--fs-3xl);
}
.sec-2 span {
  color: var(--text-secondary);
  font-size: var(--fs-sm);
}

.sec-2-item {
  cursor: pointer;
  transition: all 0.3s ease;
}
.sec-2-item:hover {
  border-color: lightgreen !important;
  transform: translateY(-5px);
}
.fa-book-open,
.fa-circle-dot,
.fa-dollar-sign {
  color: var(--text-secondary);
}

/* end of section 2 */
