<section class="sec-4">
  <div class="container-fluid">
    <div class="row g-3" *ngIf="systemRoles.length > 0">
      <div class="col-md-6 col-lg-4" *ngFor="let role of systemRoles">
        <div class="sec-4-item bg-white border border-1 rounded-3 p-3">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user"></i>
            <div>
              <button
                (click)="updateRole(role.id)"
                class="border-0 bg-transparent me-2"
              >
                <i class="fa-solid fa-edit text-secondary"></i>
              </button>
              <button
                (click)="deleteRole(role.id)"
                class="border-0 bg-transparent"
              >
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
          </div>

          <h3 class="fw-normal mb-0">{{ role.name }}</h3>
          <p class="fw-normal">{{ role.description }}</p>

          <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>level:</span>
              <span
                class="p-1 rounded-3 fw-normal"
                [class]="getRoleClass(role.name)"
                >{{role.name}}</span
              >
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Status:</span>
              <span [class]="role.isDeleted ? 'Inactive' : 'Active'"
                >{{ role.isDeleted ? 'Inactive' : 'Active' }}</span
              >
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Users:</span>
              <span>3</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Permissions:</span>
              <span>{{role.numberOfPermissions}}</span>
            </div>
          </div>

          <!-- <div class="item-header text-start pt-2">
            <span>Created: 1/15/2024</span>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
