<section class="sec-4">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-6 col-lg-4">
        <div class="sec-4-item bg-white border border-1 rounded-3 p-3">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user"></i>
            <div>
              <button class="me-2 border-0 bg-transparent">
                <i class="fa-solid fa-pen-to-square text-secondary"></i>
              </button>

              <button class="border-0 bg-transparent">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
          </div>
          <h3 class="fw-normal mb-0">Super Administrator</h3>
          <p class="fw-normal">Full system access with all permissions</p>
          <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>level:</span>
              <span>Super (University)</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Status:</span>
              <span>Active</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Users:</span>
              <span>3</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Permissions:</span>
              <span>42</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Default Portal::</span>
              <span>Admin</span>
            </div>
          </div>
          <div class="item-header text-start pt-2">
            <span>Created: 1/15/2024</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="sec-4-item bg-white border border-1 rounded-3 p-3">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user"></i>
            <div>
              <button class="me-2 border-0 bg-transparent">
                <i class="fa-solid fa-pen-to-square text-secondary"></i>
              </button>

              <button class="border-0 bg-transparent">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
          </div>
          <h3 class="fw-normal mb-0">University Administrator</h3>
          <p class="fw-normal">University-level management and oversight</p>
          <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>level:</span>
              <span>Super (University)</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Status:</span>
              <span>Active</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Users:</span>
              <span>3</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Permissions:</span>
              <span>42</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Default Portal::</span>
              <span>Admin</span>
            </div>
          </div>
          <div class="item-header text-start pt-2">
            <span>Created: 1/15/2024</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="sec-4-item bg-white border border-1 rounded-3 p-3">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user"></i>
            <div>
              <button class="me-2 border-0 bg-transparent">
                <i class="fa-solid fa-pen-to-square text-secondary"></i>
              </button>

              <button class="border-0 bg-transparent">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
          </div>
          <h3 class="fw-normal mb-0">Faculty Dean</h3>
          <p class="fw-normal">Faculty-level administration and management</p>
          <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>level:</span>
              <span>Super (University)</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Status:</span>
              <span>Active</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Users:</span>
              <span>3</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Permissions:</span>
              <span>42</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Default Portal::</span>
              <span>Admin</span>
            </div>
          </div>
          <div class="item-header text-start pt-2">
            <span>Created: 1/15/2024</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="sec-4-item bg-white border border-1 rounded-3 p-3">
          <div class="mb-3 d-flex justify-content-between align-items-center">
            <i class="fa-solid fa-user"></i>
            <div>
              <button class="me-2 border-0 bg-transparent">
                <i class="fa-solid fa-pen-to-square text-secondary"></i>
              </button>

              <button class="border-0 bg-transparent">
                <i class="fa-solid fa-trash text-danger"></i>
              </button>
            </div>
          </div>
          <h3 class="fw-normal mb-0">Department Head</h3>
          <p class="fw-normal">Department-level management</p>
          <div class="d-flex flex-column mb-3">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>level:</span>
              <span>Super (University)</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Status:</span>
              <span>Active</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Users:</span>
              <span>3</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Permissions:</span>
              <span>42</span>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <span>Default Portal::</span>
              <span>Admin</span>
            </div>
          </div>
          <div class="item-header text-start pt-2">
            <span>Created: 1/15/2024</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
