<div class="program-schedule-page" cdkDropListGroup>

  <app-schedule-header
    (reset)="resetSchedule()"
    (save)="saveSchedule()"
  ></app-schedule-header>

  <ng-container *ngIf="data$ | async as data">
    <div class="page-content">
      <div class="row g-2">

        <!-- Subjects Pool -->
        <div class="col-12 col-lg-3">
          <app-subjects-pool
            [poolId]="poolId"
            [entries]="filteredPoolEntries"
            (search)="onSearch($event)"
            (dropped)="onDropBackToPool($event)"
          ></app-subjects-pool>
        </div>

        <!-- Weekly Grid -->
        <div class="col-12 col-lg-9">
          <app-schedule-grid
            [days]="data.days"
            [periods]="data.periods"
            [slotGrid]="slotGrid"
            [canUndo]="canUndo"
            [getDropPredicate]="getDropPredicate"
            (dropToCell)="onDropToCell($event)"
            (dragEnterCell)="onDragEnterCell($event)"
            (dragLeaveCell)="onDragLeaveCell($event)"
            (undo)="undoLastAction()"
            (slotClicked)="onSlotClicked($event)"
          ></app-schedule-grid>
        </div>

      </div>
    </div>
  </ng-container>
</div>