/* techPartners */

.techPartners {
  border-top: 2px solid #e5e7eb;
  border-bottom: 2px solid #e5e7eb;
}

.techPartners-item {
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: #f9fafb;
  border: 2px solid #e5e7eb;
}

.techPartners-item:hover {
  transform: scale(1.05);
}

.techPartners-h {
  color: #4a5565;
  font-size: var(--fz-16);
}

.techPartners-item-h {
  font-size: var(--fz-16);
  color: #101828;
}

.techPartners-item-p {
  color: #6a7282;
  font-size: var(--fz-12);
}

/* End Of techPartners */
