<nav class="navbar fixed-top navbar-expand-lg">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand" routerLink="/">
      <i class="fa-solid fa-graduation-cap brand-icon"></i>
      <span>Manaraa</span>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <i class="fa-solid fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">

      <!-- Nav Links -->
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            {{ 'header.navbar.links.home' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="solutions" [routerLink]="['/']">
            {{ 'header.navbar.links.services' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="partners" [routerLink]="['/']">
            {{ 'header.navbar.links.partners' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" fragment="contact" [routerLink]="['/']">
            {{ 'header.navbar.links.contacts' | translate }}
          </a>
        </li>
      </ul>

      <!-- Actions -->
      <div class="navbar-actions">

        <!-- Language Toggle -->
        <app-language-toggle></app-language-toggle>

        <!-- Divider -->
        <div class="nav-divider"></div>

        <!-- Login Button -->
        <a routerLink="/auth/login" class="btn-login">
          <i class="fa-solid fa-arrow-right-to-bracket"></i>
          <span>{{ 'header.navbar.auth.login' | translate }}</span>
        </a>

      </div>
    </div>
  </div>
</nav>
