<section class="sec-3 mb-3">
  <div class="container-fluid">
    <div
      class="sec-3-item d-flex justify-content-between align-items-center rounded-3 border border-1 p-3"
    >
      <div class="input-group me-2">
        <span class="input-group-text">
          <i class="fa-solid fa-search"></i>
        </span>
        <input
          type="search"
          class="form-control w-75"
          placeholder="Search roles by name or description..."
        />
      </div>
      <select class="form-select w-25" aria-label="Default select example">
        <option selected>All Level</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
      </select>
    </div>
  </div>
</section>
