<div class="">
  <div class="card p-4 shadow-sm password-card w-100">
    <!-- Title -->
    <h5 class="mb-4 d-flex align-items-center gap-2 text-primary fw-semibold">
      <i class="fa-solid fa-lock"></i>
      Change Password
    </h5>

    <!-- Form -->
    <form>
      <!-- Current Password -->
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <div class="input-group custom-input">
          <input type="password" class="form-control" placeholder="********" />
          <span class="input-group-text">
            <i class="fa-regular fa-eye"></i>
          </span>
        </div>
      </div>

      <!-- New Password -->
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <div class="input-group custom-input">
          <input type="password" class="form-control" placeholder="********" />
          <span class="input-group-text">
            <i class="fa-regular fa-eye"></i>
          </span>
        </div>
      </div>

      <!-- Confirm Password -->
      <div class="mb-4">
        <label class="form-label">Confirm New Password</label>
        <div class="input-group custom-input">
          <input type="password" class="form-control" placeholder="********" />
          <span class="input-group-text">
            <i class="fa-regular fa-eye"></i>
          </span>
        </div>
      </div>

      <!-- Button -->
      <div class="text-end">
        <button
          class="btn btn-dark px-4 py-2 d-flex align-items-center gap-2 ms-auto"
        >
          <i class="fa-solid fa-shield-halved"></i>
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
