h1,p,div{
  font-family: Arial, Helvetica, sans-serif
}
.description{
  color: #777;
}
.faculty{
  background-color: var(--main-color);
    color: white;
}
.back-btn,.tab-container{
  border: 1px solid #dddddd
}

.nav-link.active{
  background-color: var(--main-color);
  color: white;
}
.nav-link{
  color: black;
}


@media (max-width: 992px) {
  .back-btn{
    margin-bottom: 10px;
  }
  .faculty-header,.first-section{
    flex-direction: column;
  }
  .nav-pills{
    flex-direction: column;
  }
}



@media (min-width: 992px) {



}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}
