<div class="sidebar" [class.collapsed]="isCollapsed">
  <div
    class="sidebar-header p-3 d-flex align-items-center"
    [ngClass]="{
      'justify-content-between': !isCollapsed,
      'justify-content-center': isCollapsed
    }"
  >
    <div class="start-section d-flex align-items-center gap-2">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p class="m-0">
        {{ "sidebar.header.portalTitle" | translate }}
      </p>
    </div>

    <button class="bg-transparent border-0" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
  </div>

  <hr class="m-0" />

  <div class="sidebar-links p-1">
    <ul>
      <span class="m-0 p-2">OVERVIEW</span>

      <li>
        <a routerLink="dashboard" routerLinkActive="active">
          <i class="fa-solid fa-gauge-high fa-fw"></i>
          <span>{{ "sidebar.links.dashboard" | translate }}</span>
        </a>
      </li>

      <li>
        <a routerLink="university" routerLinkActive="active">
          <i class="fa-solid fa-building-columns"></i>
          <span>{{ "sidebar.links.university" | translate }}</span>
        </a>
      </li>

      <span class="m-0 p-2">IAM PORTAL</span>

      <li>
        <a routerLink="/users" routerLinkActive="active">
          <i class="fa-solid fa-users fa-fw"></i>
          <span>{{ "sidebar.links.userManagement" | translate }}</span>
        </a>
      </li>

      <li>
        <a routerLink="/roles" routerLinkActive="active">
          <i class="fa-solid fa-user-shield fa-fw"></i>
          <span>{{ "sidebar.links.rolesAndPermissions" | translate }}</span>
        </a>
      </li>

      <li>
        <a routerLink="/permissions" routerLinkActive="active">
          <i class="fa-solid fa-table-cells fa-fw"></i>
          <span>{{ "sidebar.links.permissionMatrix" | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
