/* sidebar.component.css */
.sidebar {
  width: 250px;
  background-color: var(--main-color);
  color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  transition: width 0.3s ease;
  height: 100%;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed .start-section,
.sidebar.collapsed .sidebar-links ul > span,
.sidebar.collapsed .sidebar-links ul a span {
  display: none !important;
}

.sidebar.collapsed .sidebar-links ul a {
  justify-content: center;
  padding: 12px;
}

/* Header */
.sidebar-header {
  height: 63px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.sidebar-header .start-section span {
  color: var(--orange-color);
  font-size: 18px;
}

/* Links */
.sidebar-links {
  padding: 8px;
}

.sidebar-links ul > span {
  display: block;
  font-size: 11px;
  color: #9ca3af;
  margin: 14px 0 6px;
  padding-left: 12px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.sidebar-links ul a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
  color: #d1d5dc;
  transition: all 0.25s ease;
  position: relative;
  cursor: pointer;
}

.sidebar-links ul a i {
  font-size: 16px;
  min-width: 20px;
}

.sidebar-links ul a:hover {
  background-color: var(--orange-alt-color);
  color: var(--main-color);
}

.sidebar-links ul a.active {
  background-color: var(--orange-color);
  color: var(--main-color);
}

.sidebar-links ul a.active::before {
  content: "";
  position: absolute;
  left: -8px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 70%;
  background-color: var(--orange-color);
  border-radius: 4px;
}

@media (max-width: 767px) {
  .sidebar {
    width: 70px;
  }

  .sidebar .sidebar-header{
    justify-content: center !important;
  }

  .sidebar .start-section,
  .sidebar .sidebar-links ul > span,
  .sidebar .sidebar-links ul a span {
    display: none !important;
  }

  .sidebar .sidebar-links ul a {
    justify-content: center;
    padding: 12px;
  }
}
