/* =====================
   Responsive Breakpoints
===================== */
@media (max-width: 576px) {
  :root {
    --fs-sm: 0.6875rem;
    --fs-base: 0.75rem;
    --fs-md: 0.8125rem;
    --fs-lg: 0.875rem;
  }

}

