<section class="rounded-4 mx-auto bg-white">
  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>{{ "Auth-Forgot.Ministry" | translate }}</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>{{ "Auth-Forgot.Supreme" | translate }}</p>
    </div>
  </div>

  <hr />

  <!--Title of Form-->
  <div class="content text-center">
    <h6>{{ "Auth-Forgot.Forgot" | translate }}</h6>
    <p>{{ "Auth-Forgot.Reset" | translate }}</p>
  </div>

  <!--body of Form-->
  <form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="!successMessage">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{
        "Auth-Forgot.Email" | translate
      }}</label>
      <input
        type="email"
        class="form-control"
        formControlName="email"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="{{ 'Auth-Forgot.Enter-Email' | translate }}"
      />
      <app-display-error [control]="email"></app-display-error>
    </div>

    <button type="submit" class="btn w-100 login-submit">
      {{ "Auth-Forgot.Send" | translate }}
    </button>
    <div #errorMessage class="alert alert-danger mt-3 d-none"></div>
    <div class="env-msg alert alert-primary mt-3 d-flex gap-2" role="alert">
      <span><i class="fa-regular fa-envelope"></i></span>
      <p>{{ "Auth-Forgot.Msg" | translate }}</p>
    </div>
  </form>
  <div *ngIf="successMessage">
    <div class="alert alert-success text-center valid-msg" role="alert">
      <span><i class="fa-solid fa-circle-check"></i></span>
      <h5>{{ "Auth-Forgot.Sent" | translate }}</h5>
      <p>{{ "Auth-Forgot.Msg-pass" | translate }}</p>
    </div>
    <div class="msg alert alert-dark" role="alert">
      <p>
        {{ "Auth-Forgot.Msg-Check" | translate }}
      </p>
    </div>
  </div>

  <div class="back mt-1">
    <a [routerLink]="['/auth/login']" class="btn">
      <i class="fas fa-arrow-left m-2"></i>
      {{ "Auth-Forgot.Back" | translate }}
    </a>
  </div>
  <!--button of return-->
</section>
