.sec-1 h2 {
  font-size: var(--fs-3xl);
  color: var(--text-primary);
}
.sec-1 p {
  font-size: var(--fs-lg);
  color: var(--text-secondary);
}
.sec-1 button {
  font-size: var(--fs-md);
  background-color: var(--text-primary);
  transition: all 0.3s ease;
}

.sec-1 button:hover {
  transform: translateY(-5px);
}
