<section class="sec-1 mb-2">
  <div class="container-fluid">
    <div
      class="d-flex flex-column flex-md-row justify-content-between justify-content-md-between align-items-start align-items-md-center"
    >
      <div class="d-flex flex-column justify-content-center align-items-start">
        <h2 class="fw-normal">Roles & Permissions</h2>
        <p class="fw-normal">
          Configure system roles, hierarchy, and access permissions
        </p>
      </div>
      <button class="fw-normal text-white rounded-3 p-2 border-0">
        <i class="fa-solid fa-plus me-2"></i>Create New Role
      </button>
    </div>
  </div>
</section>
