<section class="  rounded-4 mx-auto bg-white ">

  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>{{'Auth-login.Ministry' | translate}}</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>{{'Auth-login.Supreme' | translate}}</p>
    </div>
  </div>

  <hr>

  <div class="content text-center">
    <h6>{{'Auth-login.Login' | translate}}</h6>
    <p>{{'Auth-login.Unified' | translate}}</p>
  </div>




  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">{{'Auth-login.Email' | translate}}</label>
      <input type="email" class="form-control" formControlName="email" id="exampleInputEmail1"
        aria-describedby="emailHelp" placeholder="{{'Auth-login.Enter-Email' | translate}}">
      <app-display-error [control]="email"></app-display-error>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">{{'Auth-login.Password' | translate}}</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1"
        placeholder="{{'Auth-login.Enter-password' | translate}}">
      <app-display-error [control]="password"></app-display-error>

    </div>

    <button type="submit" class="btn w-100 login-submit">{{'Auth-login.Login-email' | translate}}</button>
    <div #errorMessage class="alert alert-danger mt-3 d-none">
    </div>

    <div class="or-wrapper">
      <div class="line"></div>
      <span class="or-badge">{{'Auth-login.OR' | translate}}</span>
      <div class="line"></div>
    </div>
    <button type="submit" class="btn border rounded-2 w-100"> <img src="/windows_2374606.png" alt="">
      {{'Auth-login.Login-Microsoft' | translate}}</button>

    <div class="forgot text-center">
      <a class="forget-link" [routerLink]="['/auth/forget-password']">{{'Auth-login.Forgot' | translate}}</a>
      <div class="first">
        <a>{{'Auth-login.First' | translate}}</a>
      </div>
    </div>
  </form>


</section>
