/*style of the container which contain the form*/
section{
  width: 90%;
  max-width: 420px;
  padding: 20px;
  margin: 20px auto 0;
  /* box-shadow: -5px 5px 5px #aaaaaa; */
  /* box-shadow: rgb(255, 255, 255) 0px 8px 20px; */
  /* box-shadow: rgba(255, 255, 255, 0.3) 0px 22px 70px 4px; */
}

/* .cont{
  background:linear-gradient(#0A1F44,#1E3A8A);
  color: white;
  border: 1px solid white;
} */

/*start style of the div which contains two icons*/
.icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-block-end: -20px;
  padding-block-start: 10px;
}
.icons div {
  display: flex;
  flex-direction: column;
  width: 100px;
  text-align: center;
}

.icons .right span {
  background-color: #d4af37;
}

.icons .left span {
  background: linear-gradient(#0a1f44, #1e3a8a);
}

.icons span {
  display: block;
  width: 60px;
  height: 50px;
  margin-inline-start: 20px;
  border-radius: 8px;
}

.icons div i {
  color: white;
  font-size: 26px;
  padding-block-start: 12px;
}

.icons div p {
  padding-block-start: 5px;
  font-size: 12px;
  color: #4a5565;
}

/* style of div which contains the Login to manaraa  */
.content{
  margin-bottom: 20px;
}
.content h6{
  /* color: #0A1F44; */
  font-size: 16px;
  line-height: 16px;
  padding-top: 5px;
}

.content p{
  font-size: 16px;
  line-height: 24px;
  /* color: #717182; */
}

@media (max-width: 600px){
  .content h6{
    font-size: 18px;
  }

  .content p{
    font-size: 14px;
  }

}

/* form{
  padding:20px;
} */
/* button submit style */
.login-submit{
  background-color: #0A1F44;
  color: white;
}

@media (max-width: 600px){
   .login-submit{
    font-size: 14px;
  }
}

/* Or style */
.or{
  position: relative;
}

.or::after{
  content: '';
  position: absolute;
  bottom: 0;
  width: 5px;
  height: 2px;
  background: red;
}
.or-wrapper{
  display: flex;
  align-items: center;
  gap: 1px;
  margin: 18px 0;
}
.or-wrapper .line{
  flex: 1;
  height: 2px;
  background: #e6e6e6;
}
.or-badge{
  display: inline-block;
  padding: 6px 4px;
  background: #ffffff;

  color: #6b7280;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.04em;
  box-shadow: 0 1px 0 rgba(0,0,0,0.02);
  white-space: nowrap;
}


/*windows image*/
img{
  width: 20px;
}

/*forgot password style*/
.forgot{
  margin-top: 10px;
  font-size: 12px;
}

.forget-link{
  text-decoration: none;
  color: #0A1F44;
}
