<!-- Tabs -->
<div class="tab-container mb-3 bg-white rounded-3 p-3">
  <ul class="nav nav-pills">

    <li class="nav-item me-2">
      <a class="nav-link" routerLink="basic-info" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa-solid fa-user me-2"></i>
        Basic Information
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="permissions" routerLinkActive="active">
        <i class="fa-solid fa-shield-halved me-2"></i>
        Permissions
      </a>
    </li>

  </ul>
</div>

<!-- Router Outlet -->
<div class="tab-content-wrapper">
  <router-outlet></router-outlet>
</div>
