<div class="">
  <div class="card p-4 shadow-sm password-card w-100">
    <!-- Title -->
    <h5 class="mb-4 d-flex align-items-center gap-2 text-primary fw-semibold">
      <i class="fa-solid fa-lock"></i>
      Change Password
    </h5>

    <!-- Form -->
    <form [formGroup]="updatedPassForm" (ngSubmit)="changePassword()">
      <!-- Current Password -->
      <div class="mb-3">
        <label class="form-label">Current Password</label>
        <div class="input-group custom-input">
          <input
            [type]="showPass ? 'text' : 'password'"
            class="form-control"
            formControlName="currentPassword"
            placeholder="********"
          />
          <span (click)="showPass = !showPass" class="input-group-text">
            <i
              [class]="
                showPass ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'
              "
            ></i>
          </span>
        </div>
        <ng-container
          *ngIf="currentPassword?.touched && currentPassword?.errors"
        >
          <p
            *ngIf="currentPassword?.hasError('required')"
            class="text-danger"
            style="font-size: 12px"
          >
            Password is required.
          </p>
        </ng-container>
      </div>

      <!-- New Password -->
      <div class="mb-3">
        <label class="form-label">New Password</label>
        <div class="input-group custom-input">
          <input
            [type]="showNewPass ? 'text' : 'password'"
            class="form-control"
            formControlName="newPassword"
            placeholder="********"
          />
          <span (click)="showNewPass = !showNewPass" class="input-group-text">
            <i
              [class]="
                showNewPass ? 'fa-regular fa-eye-slash' : 'fa-regular fa-eye'
              "
            ></i>
          </span>
        </div>

        <ng-container *ngIf="newPassword?.touched && newPassword?.errors">
          <p
            *ngIf="newPassword?.hasError('required')"
            class="text-danger"
            style="font-size: 12px"
          >
            New password is required.
          </p>

          <p
            *ngIf="newPassword?.hasError('pattern')"
            class="text-danger"
            style="font-size: 12px"
          >
            Password must be 8+ chars, include uppercase, lowercase, number and
            symbol.
          </p>
        </ng-container>
      </div>

      <!-- Button -->
      <div class="text-end">
        <button
          type="submit"
          [disabled]="isLoading || updatedPassForm.invalid"
          class="btn btn-dark px-4 py-2 d-flex align-items-center gap-2 ms-auto"
        >
          <i *ngIf="isLoading" class="me-2 fa-solid fa-spinner fa-spin"></i>
          <i *ngIf="!isLoading" class="fa-solid fa-shield-halved"></i>
          Update Password
        </button>
      </div>
    </form>
  </div>
</div>
