<section class="sec-2 mb-3">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-sm-6 col-lg-3">
        <div
          class="sec-2-item bg-white d-flex flex-column align-items-start border border-1 rounded-3 p-3"
        >
          <h3 class="fw-normal">Total Roles</h3>
          <p class="mb-0">6</p>
          <span>Configured roles</span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div
          class="sec-2-item bg-white d-flex flex-column align-items-start border border-1 rounded-3 p-3"
        >
          <h3 class="fw-normal">Active Roles</h3>
          <p class="mb-0">6</p>
          <span>Currently in use </span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div
          class="sec-2-item bg-white d-flex flex-column align-items-start border border-1 rounded-3 p-3"
        >
          <h3 class="fw-normal">Total Users</h3>
          <p class="mb-0">12,661</p>
          <span>Assigned to roles </span>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div
          class="sec-2-item bg-white d-flex flex-column align-items-start border border-1 rounded-3 p-3"
        >
          <h3 class="fw-normal">Permissions</h3>
          <p class="mb-0">42</p>
          <span>Available permissions </span>
        </div>
      </div>
    </div>
  </div>
</section>
