<section class="sec-2 py-2 mb-2">
  <div class="container-fluid p-0">
    <div class="row g-3">
      <div class="col-xl-4 col-md-6">
        <div class="sec-2-item rounded-3 border-1 border p-3">
          <h3 class="fw-normal mb-3">Programs Offered</h3>
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
              <p class="mb-0 fw-normal">24</p>
              <span class="fw-normal">Active programs</span>
            </div>
            <i class="fa-solid fa-book-open fs-3"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="sec-2-item rounded-3 border-1 border p-3">
          <h3 class="fw-normal mb-3">Student-Staff Ratio</h3>
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
              <p class="mb-0 fw-normal">27:1</p>
              <span class="fw-normal">Students per staff</span>
            </div>
            <i class="fa-solid fa-circle-dot fs-3"></i>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="sec-2-item rounded-3 border-1 border p-3">
          <h3 class="fw-normal mb-3">Budget Allocation</h3>
          <div class="d-flex justify-content-between align-items-center">
            <div class="text-start">
              <p class="mb-0 fw-normal">125M</p>
              <span class="fw-normal">EGP Annual </span>
            </div>
            <i class="fa-solid fa-dollar-sign fs-3"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
