<section class="rounded-4 mx-auto bg-white">
  <!-- the two icons -->
  <div class="icons">
    <div class="left">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p>Ministry of Higher Education</p>
    </div>
    <div class="right">
      <span>
        <i class="fa-solid fa-book-open"></i>
      </span>
      <p>Supreme Council of Universities</p>
    </div>
  </div>

  <hr />

  <!--Title of Form-->
  <div class="content text-center">
    <h6>Select you destination</h6>
    <p>Choose where you want to login</p>
  </div>

  <!--Sis section-->
  <div class="SIS-section ">

      <div class="sis-icon my-auto">
        <span class="SIS-icon">
          <i class="fa-solid fa-shield"></i>
        </span>
      </div>

      <div class="SIS-content">
        <h5>Continue to SIS</h5>
        <p>Access informtions, grades, and resources</p>
      </div>

      <span class="my-auto">></span>
  </div>


  <div class="back mt-1">
    <a [routerLink]="['/auth/login']" class="btn">
      <i class="fas fa-arrow-left m-2"></i>
      back to Login
    </a>
  </div>
  <!--button of return-->
</section>

