<!-- trustedPartners Section -->
<section id="trustedPartners" class="trustedPartners py-5">
  <div class="container">
    <h2 class="trustedPartners-h fw-normal mb-4 text-center">
      Trusted by Leading Egyptian Institutions
    </h2>
    <p class="trustedPartners-p fw-normal mb-4 text-center">
      Serving over 20 universities and educational institutions across Egypt
    </p>
    <div class="trustedPartners-slider overflow-x-auto mb-5">
      <div class="row flex-nowrap pb-2">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Benha University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Mansoura University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Al-Azhar University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Helwan University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Assiut University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Zagazig University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Tanta University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Suez Canal University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Menoufia University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Minia University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal private uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Private</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">American University in Cairo</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal private uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Private</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">German University in Cairo</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal private uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Private</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">British University in Egypt</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal private uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Private</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Nile University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal private uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Private</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Arab Academy (AASTMT)</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal reaseach uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Research</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Zewail City</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal government uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Government</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Ministry of Higher Education</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal government uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Government</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Supreme Council of Universities</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Cairo University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Ain Shams University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>

        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div class="trustedPartners-slider-item p-3 d-flex flex-column rounded-4">
            <div class="trustedPartners-slider-item-logo d-flex justify-content-between mb-3">
              <i
                class="fa-solid fa-building-columns text-white d-flex justify-content-center align-items-center rounded-3 p-3"
              ></i>
              <span
                class="rounded-4 fw-normal uniType text-white px-3 d-flex justify-content-center align-items-center"
                >Public</span
              >
            </div>
            <h3 class="uniName fw-normal text-start my-auto">Alexandria University</h3>
            <p class="uniStatus fw-normal text-start my-auto">Active Institution</p>
          </div>
        </div>
      </div>
    </div>
    <div class="trustedPartners-last mb-2 rounded-4 p-3">
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="trustedPartners-last-item d-flex flex-row flex-sm-column align-items-center justify-content-center"
          >
            <p class="trustedPartners-last-item-n my-auto me-2 me-sm-0 pt-md-2 p-0">21</p>
            <p class="trustedPartners-last-item-p my-auto pb-md-2 p-0">Total Partners</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="trustedPartners-last-item d-flex flex-row flex-sm-column align-items-center justify-content-center"
          >
            <p class="trustedPartners-last-item-n my-auto me-2 me-sm-0 pt-md-2 p-0">15</p>
            <p class="trustedPartners-last-item-p my-auto pb-md-2 p-0">Public Universities</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="trustedPartners-last-item d-flex flex-row flex-sm-column align-items-center justify-content-center"
          >
            <p class="trustedPartners-last-item-n my-auto me-2 me-sm-0 pt-md-2 p-0">5</p>
            <p class="trustedPartners-last-item-p my-auto pb-md-2 p-0">Private Universities</p>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-xl-3">
          <div
            class="trustedPartners-last-item d-flex flex-row flex-sm-column align-items-center justify-content-center"
          >
            <p class="trustedPartners-last-item-n my-auto me-2 me-sm-0 pt-md-2 p-0">2</p>
            <p class="trustedPartners-last-item-p my-auto pb-md-2 p-0">Government Bodies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
