<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header d-flex align-items-center" [ngClass]="{
      'justify-content-between': !isCollapsed,
      'justify-content-center': isCollapsed
    }">
    <div class="start-section d-flex align-items-center">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p class="m-0">
        {{ "sidebar.header.portalTitle" | translate }}
      </p>
    </div>

    <button class="bg-transparent border-0" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
  </div>

  <hr class="m-0" />

  <div class="sidebar-links">
    <ul>

      <li>
        <a routerLink="/university-administration/overview" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-gauge-high fa-fw"></i>
          <span>{{ "sidebar.links.overview" | translate }}</span>
        </a>
      </li>

      <li hasPermission="faculties:read">
        <a [routerLink]="['/university-administration/faculties']" routerLinkActive="active">
          <i class="fa-solid fa-building-columns"></i>
          <span>{{ "sidebar.links.faculties" | translate }}</span>
        </a>
      </li>

    </ul>
  </div>
</div>
