<div class="sidebar" [class.collapsed]="isCollapsed">
  <div class="sidebar-header d-flex align-items-center" [ngClass]="{
      'justify-content-between': !isCollapsed,
      'justify-content-center': isCollapsed
    }">
    <!-- شيلت p-3 لأن الـ padding هيجي من CSS -->
    <div class="start-section d-flex align-items-center">
      <span>
        <i class="fa-solid fa-shield"></i>
      </span>
      <p class="m-0">
        {{ "sidebar.header.portalTitle" | translate }}
      </p>
    </div>

    <button class="bg-transparent border-0" (click)="toggleSidebar()">
      <i class="fa-solid fa-bars text-white"></i>
    </button>
  </div>

  <hr class="m-0" />

  <div class="sidebar-links">
    <ul>
      <span>OVERVIEW</span>

      <li>
        <a routerLink="/university-administration/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa-solid fa-gauge-high fa-fw"></i>
          <span>{{ "sidebar.links.dashboard" | translate }}</span>
        </a>
      </li>

      <span>IAM PORTAL</span>

      <li hasPermission="universities:read" *ngIf="!accountService.currentUser?.universityId">
        <a [routerLink]="['/university-administration/universities',accountService.currentUser?.universityId]" routerLinkActive="active">
          <i class="fa-solid fa-building-columns"></i>
          <span>{{ "sidebar.links.university" | translate }}</span>
        </a>
      </li>

      <li hasPermission="roles:read">
        <a routerLink="/university-administration/roles" routerLinkActive="active">
          <i class="fa-solid fa-user-shield fa-fw"></i>
          <span>{{ "sidebar.links.roles" | translate }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
