<!-- footer -->
<footer id="footer" class="footer py-5">
  <div class="container">
    <div class="footer-c-1 py-4 row gy-3">
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="text-start">
          <h3 class="text-white fs-6 fw-normal mb-3">Manaraa.org</h3>
          <p class="footer-c-1-p fs-6 fw-normal">
            The National Platform for Academic Excellence in Egypt.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="text-start">
          <h3 class="text-white fs-6 fw-normal mb-3">Platform</h3>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">Student Portal</a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">Faculty Portal </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">Admin Portal </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">SIS Manager </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">LMS Dashboard </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="text-start">
          <h3 class="text-white fs-6 fw-normal mb-3">Support</h3>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">Help Center </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">Documentation </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">System Status </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal"
              >Training Resources
            </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal"
              >API Documentation
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="text-start">
          <h3 class="text-white fs-6 fw-normal mb-3">Contact</h3>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa fa-message"></i>
              info@manaraa.org
            </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa fa-phone"></i>
              +20 (2) 123-4567
            </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa fa-location"></i>
              {{ 'footer.contact.address' | translate}}
            </a>
          </div>
          <div class="mb-2">
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa-brands fa-twitter"></i> </a
            ><a href="#" class="text-decoration-none footer-c-1-p fs-6 fw-normal">
              <i class="fa-brands fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div
      class="footer-c-2 py-4 d-flex flex-column flex-md-row justify-content-md-between text-center"
    >
      <div class="Reserved fw-normal mb-2 mb-md-0">
        Copyright © 2025 Manaraa.org. All Rights Reserved.
      </div>
      <div class="d-md-flex flex-row justify-content-md-between">
        <a href="#" class="Reserved ms-3 me-3 me-md-0 text-decoration-none">Privacy Policy</a>
        <a href="#" class="Reserved ms-3 me-3 me-md-0 text-decoration-none">Terms of Service</a>
        <a href="#" class="Reserved ms-3 me-3 me-md-0 text-decoration-none">Accessibility</a>
      </div>
    </div>
  </div>
</footer>
