<footer class="site-footer">
  <div class="container">
    <div class="row g-3 footer-top">

      <div class="col-md-6 col-lg-3">
        <div class="footer-brand">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>Manaraa</span>
        </div>
        <p class="footer-about">The National Platform for Academic Excellence in Egypt.</p>
      </div>

      <div class="col-md-6 col-lg-3">
        <h6 class="footer-heading">Platform</h6>
        <ul class="footer-links">
          <li><a href="#">Student Portal</a></li>
          <li><a href="#">Faculty Portal</a></li>
          <li><a href="#">Admin Portal</a></li>
          <li><a href="#">LMS Dashboard</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h6 class="footer-heading">Support</h6>
        <ul class="footer-links">
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Documentation</a></li>
          <li><a href="#">System Status</a></li>
          <li><a href="#">API Docs</a></li>
        </ul>
      </div>

      <div class="col-md-6 col-lg-3">
        <h6 class="footer-heading">Contact</h6>
        <ul class="footer-links">
          <li><a href="#"><i class="fa-regular fa-envelope"></i> info&#64;manaraa.org</a></li>
          <li><a href="#"><i class="fa-solid fa-phone"></i> +20 (2) 123-4567</a></li>
        </ul>
        <div class="footer-social">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        </div>
      </div>

    </div>

    <div class="footer-bottom">
      <span>© 2025 Manaraa.org. All Rights Reserved.</span>
      <div class="footer-legal">
        <a href="#">Privacy Policy</a>
        <a href="#">Terms of Service</a>
      </div>
    </div>
  </div>
</footer>
