<app-dialog dialogId="addFaculty">
  <span dialog-title>{{ "facultyDialog.title" | translate }}</span>

  <div dialog-body>
    <div class="form-title">
      {{ "facultyDialog.formTitle" | translate }}
    </div>

    <form class="mt-3">
      <div class="row">
        <div class="col">
          <label for="name" class="form-label" style="font-weight: 500">
            {{ "facultyDialog.labels.name" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="{{ 'facultyDialog.placeholders.name' | translate }}"
          />
        </div>

        <div class="col">
          <label for="address" class="form-label" style="font-weight: 500">
            {{ "facultyDialog.labels.address" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="{{ 'facultyDialog.placeholders.address' | translate }}"
          />
        </div>

        <div class="w-100 mb-2"></div>

        <div class="col">
          <label for="description" class="form-label">
            {{ "facultyDialog.labels.description" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            id="description"
            placeholder="{{
              'facultyDialog.placeholders.description' | translate
            }}"
          />
        </div>

        <div class="w-100 mb-2"></div>

        <div class="col">
          <label for="exampleInputEmail1" class="form-label">
            {{ "facultyDialog.labels.email" | translate }}
          </label>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            placeholder="{{ 'facultyDialog.placeholders.email' | translate }}"
          />
        </div>

        <div class="col">
          <label for="website" class="form-label">
            {{ "facultyDialog.labels.website" | translate }}
          </label>
          <input
            type="text"
            class="form-control"
            id="website"
            placeholder="{{ 'facultyDialog.placeholders.website' | translate }}"
          />
        </div>

        <div class="w-100 mb-5"></div>
      </div>

      <div class="form-btns d-flex">
        <button class="btn btn-ligth btn-cancel" data-bs-dismiss="modal">
          {{ "facultyDialog.buttons.cancel" | translate }}
        </button>
        <button class="btn btn-create">
          <span>+</span> {{ "facultyDialog.buttons.create" | translate }}
        </button>
      </div>
    </form>
  </div>
</app-dialog>
